/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Rampart+One&display=swap');

/* .container{
    max-width: 960px;
    margin: 0 auto;
    background: #f9f9f9;
    font-size: 24px;
    padding: 25px;
}
.parallax{
    background: url('https://source.unsplash.com/1920x1080/?galaxy') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
} */

.parallax-effect,
.parallax-effect2,
.parallax-effect3{
    transition: initial;
}




*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* html{
    scroll-behavior: smooth;
} */



body{
    min-height: 100vh;
    /* background: linear-gradient(#084bf4,#06f5cd); */
    background: linear-gradient(#5cd0ff,#e5a8e3);    
}


/*----------- SCROLLBAR STUFF -----------*/
::-webkit-scrollbar{
    width: 8px;       
}
::-webkit-scrollbar-track{
    background-color: #080816;
    
}
::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: #171731;
    /* box-shadow: inset 2px 1px 4px #282853; */
}
::-webkit-scrollbar-thumb:hover{
    background-color: #2f2f66;
    /* box-shadow: inset 2px 1px 4px #45458f; */
}
::-webkit-scrollbar-track-piece{
    display: none;
    
}


.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}



/*------------- NAVIGATION BAR -------------*/
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.3s ease;
    
    /* background: #000012; */
}
.navbar.appear{
    padding: 15px;
    
    /* background: #09001d; */
    /* background-color: rgba(18, 10, 47, 0.85); */
    background: rgba(146, 146, 146, 0.05);
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 30px -10px rgba(2,2,2,0.7);
}
/* .navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
} */
.navbar .logo{
    font-weight: 700;    

    /* font-family: 'Rampart One', cursive; */
    
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    transition: 0.5s;
}
.navbar .logo:hover{
    transform: scale(1.2);
    
    background: linear-gradient(45deg, #2770fb, #6b12d0);  
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;    
}

.navbar ul{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    list-style: none;
  text-align: center;
}
.navbar ul li{
    /* list-style: none;
    margin-left: 20px; */
    display: inline-block;
}
.navbar ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: rgb(161, 161, 161);
    display: block;
    margin: 0 10px;
    position: relative; /* THIS is what makes the highlight thing go from full width to text width!!! */
    /* border-radius: 20px; */
}
.navbar ul li a:after{
    content: "";
    position: absolute;
    /* background-color: #55abe1; */
    background: linear-gradient(45deg, #2770fb, #6b12d0);
    height: 2px;
    width: 0%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    /* bottom: -10px; */
    transition: 0.3s ease;
}
.navbar ul li a:hover,
.navbar ul li a.active{
    color: white;
    /* transition: 0.3s ease; */
}
.navbar ul li a:hover:after,
.navbar ul li a.active:after{
    width: 50%;
}
.nav-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 5; /* right below the menu button, which is z-index 999 */
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}



/*------------- MENU BTN STYLING -------------*/
.menu-btn{
    color: white;
    cursor: pointer;
    display: none;
}

.menu-btn span {    
    width: 25px;
    height: 3px;
    display: block;
    position: relative;
    border-radius: 30px;
    background-color: white;
    margin: 5px;
    transition:transform 300ms linear 0ms,top 250ms ease-in-out 350ms; 
  }

  .menu-btn span:nth-child(1) {
    top: 0;
  }
  .menu-btn span:nth-child(2) {
    top: 0;
  }
  .menu-btn span:nth-child(3) {
    top: 0;
  }

  .menu-btn.active span:nth-child(1) {
    top: 8px;
    transform: rotate(315deg);
    /* transform: rotate(-45deg); */
    transition: top 250ms  0ms, transform 350ms ease-in-out 350ms;
  }
  .menu-btn.active span:nth-child(2) {
    transform: rotate(315deg);
    /* transform: rotate(-45deg); */
    transition: top 250ms  0ms, transform 350ms ease-in-out 350ms;
  }
  .menu-btn.active span:nth-child(3) {
    top: -8px;
    /* transform: rotate(45deg); */
    transform: rotate(225deg); 
    transition: top 250ms  0ms, transform 350ms ease-in-out 350ms;
  }



/*------------- BUTTON STYLING -------------*/
.solid-btn{
    background: linear-gradient(45deg, #2770fb, #6b12d0);
    color: white;
    font-size: 14px;
    /* font-size: clamp(3px, 2vw, 14px); */
    padding: 0.6em 1.6em;
    border-radius: 50px;    
}
.outline-btn{
    /* border-image: linear-gradient(45deg, #2770fb, #6b12d0);
    border-image-slice: 1;
    border-style: solid;
    border-width: 2px;
    color: white;
    font-size: 14px;
    padding: 0.6em 1.6em;
    border-radius: 50px; */

    /* background: linear-gradient(#171731, #171731) padding-box, linear-gradient(45deg, #2770fb, #6b12d0) border-box;     */
    border: 2px solid transparent;
    position: relative;
    color: white;
    font-size: 14px;
    padding: 0.6em 1.6em;
    border-radius: 50px;   

}
.outline-btn::before {
    content:"";
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    /* right:0;
    bottom:0; */
    /* border-radius:50px; 
    padding:10px;  */

    background: linear-gradient(45deg, #2770fb, #6b12d0) border-box;
    border: inherit;
    border-radius: inherit;
    -webkit-mask: 
       linear-gradient(white, white) padding-box, 
       linear-gradient(white, white);
    -webkit-mask-composite: destination-out; 
    mask-composite: exclude; 
  }


/*------------- SECTION STUFF -------------*/
section{
    /* position: relative;
    width: 100%;
    height: 100vh; */
    padding: 100px 0;
    font-family: 'Montserrat', sans-serif;

    /* position: relative; */
}
section .title{
    font-family: 'Montserrat', sans-serif;
    /* font-size: 40px; */
    font-size: clamp(30px, 10vw, 40px);
    font-weight: 550;
    /* margin-bottom: 60px; */
    /* padding-bottom: 20px; */
    /* margin-top: 100px; */
    position: relative;
    letter-spacing: 1px;
}
.divider{ /* the blue line */
    display: block;
    margin: 30px 0;
    width: 100px;
    height: 2px;
    /* background-color: turquoise; */
    background: linear-gradient(45deg, #2770fb, #6b12d0);
}



/*------------- INTRO CONTENT -------------*/
.home{
    display: flex;
    /* background: url('https://source.unsplash.com/1920x1080/?night') no-repeat center; */
    /* background: url('https://source.unsplash.com/1600x900/?night') no-repeat center; */
    background: url('https://source.unsplash.com/1800x900/?night') no-repeat center; /*the height of the background is 200px taller than default to accomadate for parallax "snapping" when you first scroll*/
    background-size: cover; /*this makes the background not get cut off!!! */
    color: white;
    height: 100vh;
    min-height: 500px;
    /* font-family: 'Ubuntu', sans-serif; */
}
.home .home-content .text-1{
    /* font-size: 95px; */
    font-size: clamp(40px, 8vw, 95px);
    
    /* font-size: clamp(25px, 7vw, 95px); */
    text-align: center;
    font-weight: 600;
}
.home .home-content .text-2{
    /* font-size: 50px; */
    font-size: clamp(15px, 5vw, 50px);
    font-weight: 500;
    text-align: center;
}



/*------------- ABOUT SECTION CONTENT -------------*/
.about{
    /* background: #020008; */
    /* background: linear-gradient(270deg,rgb(27, 20, 41),rgb(20, 15, 35)); */
    /* background: radial-gradient(#0b001e, #000012, #0b001e); */
    /* background: #0a0c0f; */
    background: #080816;
    color: whitesmoke;
    /* backdrop-filter: blur(20px); */
}
.about .about-content{
    /* display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; */
    
    /* display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 50px; */
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.about .about-content .right img{
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    height: 300px;
    width: 300px;
}
.about .about-content .right .img-wrapper{
    display: block;
    position: relative; /* this makes it the correct size/position!!! */
    /* width: 100%; */
    /* height: 300px;
    width: 300px; */
    z-index: 1;
    

    /*this is for the gradient stuff*/
    border: 2px solid transparent;
    border-radius: 6px;
    
}
.about .about-content .right .img-wrapper:before{ /* this is the square for the picture */
    /* border: 2px solid whitesmoke; */
    top: -20px;
    left: -20px;
    content: "";
    display: block;
    position: absolute;
    height: 300px;
    width: 300px;
    /* border-radius: 6px; */
    z-index: -1;


    
    background: linear-gradient(45deg, #2770fb, #6b12d0) border-box;
    border: inherit;
    border-radius: inherit;
    -webkit-mask: 
       linear-gradient(white, white) padding-box, 
       linear-gradient(white, white);
    -webkit-mask-composite: destination-out; 
    mask-composite: exclude; 

    transition: 0.5s;
}
.about .about-content .right .img-wrapper:after{ /* this is the square for the picture */
    /* border: 2px solid whitesmoke; */
    top: 20px;
    left: 20px;
    content: "";
    display: block;
    position: absolute;
    height: 300px;
    width: 300px;
    /* border-radius: 6px; */
    z-index: 1;


    transition: 0.5s;

    background: linear-gradient(45deg, #6b12d0, #2770fb) border-box;
    border: inherit;
    border-radius: inherit;
    -webkit-mask: 
       linear-gradient(white, white) padding-box, 
       linear-gradient(white, white);
    -webkit-mask-composite: destination-out; 
    mask-composite: exclude; 
}
.about .about-content:hover .img-wrapper:before{
    transform: translateX(20px) translateY(20px);
}
.about .about-content:hover .img-wrapper:after{
    /* background: linear-gradient(45deg, #2770fb, #6b12d0) border-box; */
    
    transform: translateX(-20px) translateY(-20px);
}
.about .about-content .left{
    width: 65%;

    display: inline-block;
    vertical-align: top;
}
.about .about-content .left .text{
    font-size: clamp(10px, 3vw, 15px);
    margin-bottom: 10px;
    line-height: 1.6;
}
.about .left .buttons{
    margin-top: 35px;    
}



/*------------- EXPERIENCE SECTION CONTENT -------------*/
.exp{
    /* background: url('https://source.unsplash.com/1920x1080/?programming') no-repeat center; */
    background: url('https://source.unsplash.com/1600x900/?programming') no-repeat center;
    /* background: url('https://source.unsplash.com/1800x900/?programming') no-repeat center; */
    background-size: cover; /*this makes the background not get cut off!!! */
    color: whitesmoke;
}
.exp .exp-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.exp .exp-content .card{
    /* width: calc(25% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    transition: all 0.3s ease;
    margin-bottom: 20px; */

    position: relative;
    /* width: 250px;
    height: 400px; */
    width: 800px;
    height: 250px;
    margin: 13px;
    /* box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5); */
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); */
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    /* background: rgba(42, 8, 73, 0.384); */
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid rgba(255, 255, 255, 0.3);
    border-left: 3px solid rgba(255, 255, 255, 0.3);
    /* border-top: 1px solid rgba(42, 8, 73, 0.5);
    border-left: 1px solid rgba(42, 8, 73, 0.5); */
    backdrop-filter: blur(15px);
    transition:  0.5s;
}
.exp .exp-content .card:hover{
    /* box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2); */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    transform: translateY(-8px);
    /* background: linear-gradient(45deg, #b95ce4, #4f29cd, transparent); */
    background: linear-gradient(45deg, #2770fb, #6b12d0, transparent);
    /* background: linear-gradient(45deg, #2771fc, #6a13d1, transparent); */
}
.exp .exp-content .card .box{
    /* transition: all 0.3s ease; */
    padding: 20px;
    /* transition: 0.5s; */
}
.exp .exp-content .card:hover .box{ /*the text inside the card*/
    /* transform: scale(1.05); */
}
.exp .exp-content .card .job-title{
    font-size: 25px;
    font-weight: 600;
    margin: 10px 0 7px 0;
    text-align: center;
}
.exp .exp-content .card .company-name{
    text-align: center;
    font-size: 20px;
    margin: 10px 0;
}
.exp .exp-content .card .dates{
    text-align: center;
    font-style: italic;
    font-weight: 600;
    font-size: 12px;
    padding-bottom: 12px;
}
.exp .exp-content .card .job-description{
    font-size: 13px;
    /* font-size: clamp(9px, 3vw, 13px); */
    margin-left: 15px;
}
.exp .exp-content .card .job-description li{
    padding: 5px 0px;
}



/*------------- PROJECTS SECTION STYLE -------------*/
.projects{
    /* background: #605e66; */
    color: whitesmoke;
    /* background: #191328; */
    /* background: linear-gradient(135deg, #14141b, #1b1429); */
    /* background: linear-gradient(270deg,rgb(27, 20, 41),rgb(20, 15, 35)); */
    /* background: linear-gradient(#000012, #130026); */
    /* background: radial-gradient(#130026, #000012); */
    /* background: radial-gradient(#0b001e, #000012, #0b001e); */
    /* background: #0a0c0f; */
    background: #080816;
    /* background: #131125; */
    /* background: #1b202a; */
    /* backdrop-filter: blur(20px); */
    /* background: #111325; */
}
.projects .item{
    display: flex;
    align-items: center;
    justify-content: center;
    /* max-width: 800px; */
    margin: 0 auto;
    margin-bottom: 100px;
    transition: 0.3s ease;
}

.projects .item .project-image-wrapper{
    flex: 1;
}
.projects .item .project-info-wrapper{
    flex: 1;
    margin-left: -200px;
    text-align: right;
    
    /* background-color: #020008; */
    /* background-color: rgb(17, 9, 24); */
    /* background-color: #291a41; */
    /* background-color: #191027; */
    /* background-color: #1c1a34; */
    /* background-color: #0f0f20; */
    background-color: #171731;
    /* background: linear-gradient(45deg, #2770fb, #6b12d0); */
    font-size: 14px;
    /* backdrop-filter: blur(82px); */
    
    /* color: white; */
    padding: 30px 20px;
    
    border-radius: 12px;
    /* box-shadow: 0 0 20px #00000028; */
    /* box-shadow: 0 0 20px #000000; */
}

.projects .item:nth-child(even){
    /*flex-direction: row-reverse;*/
}
.projects .item:nth-child(even) .project-info-wrapper{
    /*margin-left: -200;*/
    /*text-align: left;*/
    font-size: 12px;
}
/*
.projects .item:nth-child(even) .project-info-wrapper .buttons{
    justify-content: flex-start;
}
.projects .item:nth-child(even) .project-info-wrapper .buttons .solid-btn{
    margin: 5px 20px 0 0;
}
.projects .item:nth-child(even) .project-info-wrapper .buttons .outline-btn{
    margin-top: 5px;
    margin-left: 0;
}
*/
.projects .item:nth-child(even) .project-image-wrapper{
    /*margin-left: -200px;*/
}
.projects .item .project-image-wrapper .img{
    overflow: hidden;
    /* border-radius: 5px; */
    /* box-shadow: 0 0 20px #44117420; */
}
.projects .item .project-image-wrapper .img img{
    /* width: 500px; */
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
}
.projects .item:hover{
    transform: scale(1.02);
}
.projects .project-info-wrapper .technologies{
    margin: 15px 0;
}
.projects .project-info-wrapper .technologies .tech-item{
    display: inline-block;
    padding: 7px 7px 5px;
    margin-right: 3px;
    margin-top: 6px;
    color: rgb(146, 146, 146);
    /* background: rgb(63, 59, 70); */
    background: #464653;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: .5px;
}
.projects .project-info-wrapper .buttons{
    /* margin-top: 35px; */
    /* display: flex;
    flex-direction: column; */
    
    /* display: flex;
    flex-wrap: wrap; */

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}
.projects .project-info-wrapper .buttons .solid-btn{
    /* margin-right: 10px; */
    margin-top: 5px; 
    /* margin: 5px 20px 0 0; */
    /* padding-bottom: 10px; */
}
.projects .project-info-wrapper .buttons .outline-btn{
    /* margin-right: 20px;*/
    /* margin-top: 5px;  */
    margin: 5px 0 0 20px;
    /* padding-bottom: 10px; */
}
.projects .project-info-wrapper .project-description{
    margin-top: 10px;
    line-height: 1.6;
}



/*------------- CONTACT SECTION CONTENT -------------*/
.contact{
    /* background: url('https://source.unsplash.com/1920x1080/?japan') no-repeat center; */
    /* background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://source.unsplash.com/1600x900/?dark')  no-repeat center; */
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://source.unsplash.com/1800x900/?tokyo')  no-repeat center;
    background-size: cover; /*this makes the background not get cut off!!! */
    color: whitesmoke;
}
.contact .contact-content{
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 40px; */
    padding-top: 50px;
    position: relative;
    width: 100%;
    /* height: 700px; */
    margin: 13px;
    
    border-radius: 15px;
    
    /* background: rgba(23, 23, 49, 0.3); */
    /* background: white; */
    /* border-top: 2px solid rgba(255, 255, 255, 0.3);
    border-left: 3px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(30px); */
    transition:  0.5s;

    /* color: dodgerblue; */
}
.contact .contact-content .c-container{
    width: 100%;
}
.contact .contact-content .c-container .center{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
.contact .contact-content .c-container .contact-description{
    margin: 0 auto;
    max-width: 440px;
    font-size: 20px;
    /* max-width: 500px; */
}
.contact .contact-content .c-container form{
    padding: 30px 0 0 0 0;
}
.contact .contact-content .c-container form .form-row{
    display: flex;
    margin: 52px 0;
}
.contact .contact-content .c-container form .form-row .input-data{
    width: 100%;
    height: 40px;
    margin: 0 20px;
    position: relative;
}
.contact .contact-content .c-container form .form-row .textarea{
    height: 100px;
}
/* .contact .contact-content .c-container form .form-row .submit-btn{
    align-items: center;
} */
.input-data input,
.textarea textarea{
    display: block;
    height: 100%;
    width: 100%;
    color: whitesmoke;
    background-color: inherit;
    border: none;
    font-size: 17px;    
    border-bottom: 2px solid rgba(222, 222, 222, 0.5);
}
.input-data input:focus,
.textarea textarea:focus{    
    /* outline-width: 0; */
    outline: none;
}
.input-data input:focus ~ label,
.textarea textarea:focus ~ label,
.input-data input:valid ~ label,
.textarea textarea:valid ~ label{
    transform: translateY(-25px);
    font-size: 14px;
    /* color: whitesmoke; */
    background: linear-gradient(45deg, #2770fb, #6b12d0);  
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    font-weight: 700;
    /* color: #00b7c7; */
}
.textarea textarea{
    resize: none;
    padding-top: 10px;
}
.input-data label{
    position: absolute;
    bottom: 10px;
    font-size: 16px;
    text-transform: uppercase;
    pointer-events: none;
    transition: all 0.3s ease;
}
.textarea label{
    /* width: 100%; */
    bottom: 70px;
}
.input-data .underline{
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
    /* background: red; */
}
.input-data .underline:before,
.input-data .underline:after{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, #2770fb, #6b12d0);
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before, .underline:after,
.textarea textarea:focus ~ .underline:before, .underline:after,
.input-data input:valid ~ .underline:before, .underline:after,
.textarea textarea:valid ~ .underline:before, .underline:after{
    transform: scaleX(1);
}
.input-data .solid-btn{
    border: none;
    width: 118px;
    height: 37px;
    /* text-transform: uppercase; */
    /* letter-spacing: 1px; */
    font-weight: 500;
    cursor: pointer;
}
.contact .contact-content .c-container .form-wrapper{
    /* width: 700px; */
    width: 100%;
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
    /* margin: 20px auto;
    padding: 0; */
}
/* .contact .contact-content .form-wrapper .input-wrapper{
    padding: 0;
    margin-bottom: 10px;
    position: relative;
    transition: all .25s ease;
}
.contact .contact-content .form-wrapper .input-wrapper:before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #707070;
    bottom: 0;
    left: 0;
    transition: all .5s ease-in-out;
}
.contact .contact-content .form-wrapper .input-wrapper:after{
    background-color: #00b7c7;
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: all .5s ease-in-out;
}
.contact .contact-content .form-wrapper .input-wrapper .input-label{
    display: block;
    
    font-size: .9em;
    font-weight: 700;
    text-transform: uppercase;
    transform: translateY(25px);
    color: #f2f2f2;
    margin-bottom: 10px;
    transition: all .5s ease-in-out;
}
.contact .contact-content .form-wrapper .input-wrapper .contact-input{
    position: relative;
    background: 0 0;
    width: 100%;
    border: none;
    padding: 20px 0 10px;
    margin-bottom: -10px;
    font-size: 1em;
    line-height: 1.3;
    color: #f2f2f2;
    resize: none;
    display: block;
    overflow: hidden;
} */



/*------------- FOTTER SECTION STYLE -------------*/
.footer{
    /* display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; */

    background: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    /* height: 200px;
    min-height: 100px; */
    
}
.footer .footer-content{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    /* font-size: 1rem; */
    max-width: 1280px;
    font-size: 17px;
    
}
.footer .copyright{
    display: flex;
    justify-content: center;
    order: 1;
}
.footer .socials{
    display: flex;
    justify-content: center;
    order: 2;
}
.footer .social-links{
    display: block;
    list-style: none;
    font-size: 0; /* this is to remove the random space between list items */

    /* order: 2; */
    /* margin: 0 auto;
    padding: 0;
    text-align: center; */
}
.footer .social-links .social-link{
    display: inline-block;
    /* font-size: 20px; */
    /* transition: all 0.3s ease; */
    margin: 0 15px;    
    padding: 0 2px;
    font-size: 20px; /* this is to remove the random space between list items */
    
    -webkit-transition: all .5s ease;
    transition: all 0.5s ease; 
    
}
.footer .social-links .social-link:hover{
    transform: scale(1.2) translateY(-5px);
    
    background: linear-gradient(45deg, #2770fb, #6b12d0);  
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    
}
.footer .social-links .social-link a{
    color: white;    
}




/*------------- WIDTH STUFF (MUST BE AT BOTTOM) -------------*/
@media (max-width: 600px){
    .exp .exp-content .card{
        height: 200px !important;
    }
    .exp .exp-content .card .job-title{
        font-size: 18px;
    }
    .exp .exp-content .card .company-name{
        font-size: 15px;
    }
    .exp .exp-content .card .dates{
        font-style: normal;
    }
    .exp .exp-content .card .job-description{
        /* visibility: hidden; */
        display: none;
    }
}
@media (max-width: 992px){
    .max-width{
        padding: 0 50px;
    }
    .menu-btn{
        display: block;
        /* z-index: 999; */
    }
    /* .menu-btn i.active:before{
        content: "\f00d";
    } */
    
    .navbar ul{
        position: fixed;
        /* align-items: center; */
        height: 100vh;
        width: 320px;
        right: -200%; /* moves menu off the screen while it's not active */
        top: 0;
        text-align: center;
        
        padding-top: 68px;
        transition: all 0.5s ease;
        /* background: #201635; */
        /* background: #161623; */
        /* background: #1B162C; */
        /* background: radial-gradient(#291947, #1B162C); */
        background: #11101c;
        /* background: #100f1d; */
        
        /* box-shadow: 0 10px 30px -10px rgba(2,12,27,0.9); */
        
        /* box-shadow: -10px 0px 30px -10px rgba(2,2,2,0.9); */
        box-shadow: 0 0 15px rgba(0,0,0,0.9);
    }
    .navbar ul.active{
        right: 0;
    }
    .nav-overlay.active{
        visibility: visible;
        opacity: 1;        
    }
    .lock-scroll { /*stops user from scrolling while menu is open*/
        overflow: hidden;
    }
    .navbar ul li{
        display: block;
        opacity: 0; /* makes them invisible until they slide in*/
        /* margin-left: 18px; */
        
    }
    
    .navbar ul li a{
        display: inline-block;
        margin: 0;
        padding: 30px 0;
        /* margin-top: 20px; */
        font-size: 20px;
        transition: 300ms;
        /* border-radius: 12px; */
        width: 100%;
        /* color: white; */
    }
    .navbar ul li a:hover,
    .navbar ul li a.active{
        /* background: #fff;
        color: black; */
        /* background: #0a0727; */
        
        /* background: linear-gradient(45deg, #0a0727, #130d49); */
        /* background: #1d1b30; */
        background: #1f1d36;
    }
    .navbar ul li a:hover:after,
    .navbar ul li a.active:after{ /*removes the underline on hover*/
        width: 100%;
    }

    /* .max-width{
        max-width: 800px;
    } */
    /* .about .about-content .column{
        width: 50%;
    }
    .about .about-content .right{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .left{
        flex: 100%;
    } */

    /* ABOUT SECTION CONTENT */
    .about .about-content{
        display: block;
        
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .right{ /*the image*/
        margin-top: clamp(100px, 38vw, 140px);
        display: flex;
        justify-content: center;
        /* margin: 0 auto 60px; */
    }
    .about .about-content .right img{
        height: clamp(100px, 38vw, 300px);
        width: clamp(100px, 38vw, 300px);
    }
    .about .about-content .right .img-wrapper:before{
        height: clamp(100px, 38vw, 300px);
        width: clamp(100px, 38vw, 300px);
    }
    .about .about-content .right .img-wrapper:after{
        height: clamp(100px, 38vw, 300px);
        width: clamp(100px, 38vw, 300px);
    }


    .exp .exp-content .card{
        height: 300px;
    }
    .exp .exp-content .card .job-description{
        /* width: 500px; */
        /* height: 300px; */
        font-size: 12px;
    }


    .projects .item{
        flex-direction: column;
    }
    .projects .item .left{ /*the image*/
        width: 100%;
    }
    .projects .item .left .img img{
        /* width: 500px; */
        height: 500px;
    }
    .projects .item .right{
        width: 90%;
        margin: 0;
        margin-top: -150px;
        text-align: left;
    }
    .projects .item:nth-child(even){
        flex-direction: column;        
    }
    .projects .item:nth-child(even) .right .buttons{
        justify-content: flex-end;
    }
    .projects .item:nth-child(even) .left{
        margin-left: 0;
    }


    
    .footer .footer-content{
        /* justify-content: center; */
        display: block;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .footer .socials{
        
        justify-content: center;
        display: flex;
    }
    .footer .copyright{
        margin-top: 2rem;
        text-align: center;
        display: block;
    }
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(150px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}